<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>

<div class="container">
    <table>
        <tr>
        <th><h1>Category: </h1></th>
        <form action="/categories" method="POST">
            <td><select class="custom-select mr-sm-2" id="category" name="category" >
                <option selected>Choose Category</option>
                <option value="objects">Object</option>
                <option value="meme">Meme</option>
                <option value="location">Location</option>
                <option value="animal">Animal</option>
                <option value="ideas">Ideas</option>
                <option value="Food">Food</option>
                <option value="something else">Something Else</option>
            </select></td>
            <td><button class="btn btn-primary lg" type="submit">Go</button></td>
        </form>
        </tr>
    </table>
    <table>
    <% for(var i = 0; i < data.length; i++) { %>
        <% if(i%5==0){ %>
            <tr>
        <% } %>
        <td>
        <div class="card">
            <img src="<%=data[i].image_url%>" style="width:100%">
            <div class="container">
                <table>
                <tr>
                <h4><b><%= data[i].title %></b></h4>
                </tr>
                <tr>
                    <td>
                        <% if(data[i].upvotes+data[i].downvotes==0) { %>
                            <h4>0% Upvoted</h4>
                        <% }else{ %>
                        <h4><%= 100*(data[i].upvotes/(data[i].upvotes+data[i].downvotes)) %>% Upvoted</h4>
                        <% } %>
                    </td>
                    <td>
                <form action='/item/<%-data[i].thing_id%>' method="get">
                    <button type="submit">View Post</button>
                </form>
                    </td>
                </tr>
                </table>
            </div>
        </div>
        </td>
        <% if((i-4)%5==0){ %>
            </tr>
        <% } %>
    <% } %>
    </table>
</div>

<%- include ('../partials/footer') %>